div {
    width: 100px;
    height: 100px;
}

.red {
    background-color: #f00;
}

.green {
    background-color: #0f0;
    position: relative;
    top: 50px; left: 50px;
}

.blue {
    background-color: #00f;
    position: absolute;
    top: 25px; left: 25px;
}

.black {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 100px; left: 100px;
}
