#wrap {
    width: 345px;
    margin: 10px auto;
}

#wrap ul.item {
    margin-bottom: 15px;
}

#wrap li.item_wrap {
    margin: 0 4px;
}

#wrap li.item_wrap > div:nth-child(1) img {
    min-width: 107px;
    max-width: 107px;
}

#wrap li.item_wrap > div:nth-child(2) p {
    font-size: .85em;
    text-align: center;
}

#wrap li.item_wrap > div:nth-child(2) p:nth-child(1) {
    font-weight: bold;
}

