b{
    color: #00ff00;
}
p{
    color: #0000ff;
}

/* 
    선택자 1. 전체선택자
*/

*{
    font-weight: bold;
}

/* 
    선택자 2. 태그선택자
*/

div{
    color: #ffff00;
    font-weight: bold;
}

/* 
    선택자 3. 클래스 선택자
    클래스라는 태그안에 이름을 지어줘야함
*/

.p1{
    color: #00ff00;
    font-weight: blacd;
    background-color: #000000;
}

.p11{
    color: #18204e;
}

.p3{
    font-size: 1em;         /**/
}
.p1{
    color: #ff0000;
    font-size: 3em;
}

/* html에서 클래스 이름은 1개 이상일 수 있다.
    그리고 클래스 이름은 중복 사용 가능하다 */


/*
    선택자 4.ID(아이디) 선택자
    html에서 ID 이름은 무조건 1개 이어야한다.
    그리고, 하나의 html의 문서에서 ID 이름은 절대 중복 사용 불가하다
*/
#pp1{
    font-size: 2em;
    color: #000000;
    background-color: #ccc;
}

/*  선택자 5: 속성 선택자
    html tag의 속성을 이용해서 element을 선택함
*/

input[
    type='text']{
        width: 200px;
        color: #ff0000;
        font-size: 2em;
    }